@import "./mixin.scss";
@import "./reset.scss";


$text-color: #2e3329;

$grey-lighter: #dbdbdb;

$white: #fff;
$black: #000;
$orange: #ff5722;
$font-color: #2e3329;
$p-color: #808080;

$blue-light: #4DD4FC;
$blue: #0076FF;
$font-color-dark: #1160FB;
$line-color: #e5e5e5;
$font: 'Inter', sans-serif;;
$grey-light: #F2F7FF;
$navlinksize: 15px;
$red: #de2837;


$gold: rgba(255,215,0, 0.60);


$mobile-line-color: #dbdbdb;
$gray-dark: #04070c;
$gold-light: rgba(88, 76, 61, 1);